*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color: inherit;
}

div{
    display: block;
}
body {
	background: white;
	color: #222;
	overflow-x: hidden;
	margin: 0 auto;
}

header {
	padding: 20px 0 0 0;
	position: absolute;
	top: 0px;
	background: white;
	z-index: 9999;
	width: 99vw;
	margin: 0 auto;
	border-bottom: 1px solid #F3F3F3;
}

header .top-menu {
	display: flex;
	justify-content: space-between;
	margin: 0 5vw 0 4vw;
}

header .top-menu li {
	margin-left: 40px;
}

header .top-menu li:nth-child(1) {
	flex-grow: 1;
	margin-left: 0;
}

section .font-999 {
	color: #999;
}

header #logo {
	margin: 5px auto;
	text-align: center;
	line-height: 80px;
	font-size: 3rem;
	position: relative;
	z-index: 9999;
}

header .gnb {
	display: flex;
	justify-content: space-around;
	margin-bottom: 6px;
	position: relative;
	z-index: 9999;
	background: white;
}

header .gnb .sub {
	display: none;
}


header .gnb li a {
	display: block;
	padding: 10px 20px;
	/* background-color: black; */
}
.table-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height: 50px;
    border-radius: 16px;
    width: 100%;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

/* side바 */
.sidebar{
    display: flex;
    background-color: #f0f0f0;
    width: 10%;
    height: 800px;
    float: left;
    border-radius: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.sidebar table{
    margin: 15px;
}

.sidebar ul{
    font-size: 15px;
    padding-left: 30px;
    padding-top: 5px;
}

.sidebar li{
    font-size: 13px;
    padding-left: 37px;
    padding-top: 10px;
}